<header>
  <nav class="container">
    <strong><a href="{{ '/' | url }}">{{ site.title }}</a></strong>

    <ul>
      <li><a href="{{ '/' | url }}"></a></li>
      <li><a href="{{ '/posts/' | url }}"></a></li>
    </ul>
  </nav>
</header>
