<header>
  <nav>
    <nav class="container"> <strong><a href="/">{{ site.title }}</a></strong>
    <ul>
      <li><a href="/posts">Artículos</a></li>
      <li><a href="/topics">Temas</a></li>
    </ul>
  </nav>
</header>