<header>
  <nav class="container">
    <strong><a href="/PagWeb/">{{ site.title }}</a></strong>

    <ul>
      <li><a href="/PagWeb/">Inicio</a></li>
      <li><a href="/PagWeb/posts/">Artículos</a></li>
    </ul>

  </nav>
</header>
